#folio {
    text-align: center;
    margin-top: 10px;
}
#threeD {
    margin-left: 50px;
}
#foliotabs {
    display: flex;
    flex-direction: row;
    gap: 55px;
    justify-content: center;
    margin-top: 20px;
}
.modeltab, .illustab, .comsnstab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    font-size: 18px;
    width: 100px;
    border: none;
    padding-bottom: 5px;
}
.modeltab:hover, .illustab:hover, .comsnstab:hover {
    letter-spacing: 1px;
    transition: .3s;
}
.active-tab {
    border-bottom: 1px solid #fff;
}
#threeD, #illus-title {
    margin-top: 20px;
}
#modelObjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin-left: 20px;
}
.canvas {
    max-width: 300px !important;
    min-width: 300px !important;
    height: 350px !important;
    object-fit: cover;
    border-radius: 20px;
    background-color: #ff6a0019;
    border: 1px solid #ff6a00;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 15px rgba(255, 0, 212, 0.197);
}
.canvas:hover {
    margin-top: -10px;
}
#mooji {
    margin-bottom: 10px;
    text-align: center;
}
#illustrations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;
    justify-content: center;

}
#illus {
    height: 350px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.illus {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 106, 0, 0.352);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 106, 0, 0.245);
}